.main{
    background-color: cadetblue;
    margin: 0 auto;
    padding: 2px 2px auto;
    width: max-content;
    overflow: hidden;
}
.row {
    margin: 0 2px;
    height: max-content;
    overflow: hidden;
}